.Container {
  position: relative;
  display: flex;
  cursor: pointer;
}

.selected {
  .Title {
    font-weight: 600;
  }
}

.Title {
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

.DropdownItems {
  position: absolute;
  list-style: none;
  padding: 0.5em 1em 0.5em 0.5em;
  margin: 0.5em 0;
  background-color: rgb(19, 94, 94);
  border-radius: 0.3rem;

  li + li {
    margin-top: 0.2em;
  }
}

.Arrow {
  margin-left: 0.5em;
  height: 1rem;
}
