@import '../../CSS/base.scss';

.container {
  background-color: white;
  border-radius: 0.5rem;
  min-height: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.1rem;
  align-items: center;
}

.pagination {
  background: none;
  border: none;

  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    opacity: 0.3;
    transform: scale(1.1);
  }
}

.current {
  transform: scale(1.2);
  color: $color_orange;
}
