@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

$media_phone: 300px;
$media_tablet: 800px;
$media_computer_small: 1000px;
$media_computer_large: 2000px;

$color_dark_grey: #2f3640;
$color_steel_blue: #718093;
$color_orange: #e58e26;

$font_para: 'Roboto', sans-serif;
$font_title: 'Libre Baskerville', serif;
