@import './base.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  width: 95vw;
  margin: auto;
  padding: 1rem 0;
}

.Dropdown {
  padding: 1em 2em 1em 1em;
  margin: 2rem 0 2rem 30%;
  width: 40%;
  background-color: $colour_secondary;
  font-family: $font_title;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}

@media (min-width: $media_tablet) {
  .App {
    width: 80vw;
    max-width: 1200px;
  }
}
